@import '../../constants';

.main_container {
    max-width: 1293px;
    width: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    h3 {
        font-family: Inter;
        font-weight: 700;
        font-style: Bold;
        font-size: 6.1rem;
        line-height: 73.25px;
        letter-spacing: -0.35px;
        text-align: center;
        vertical-align: middle;
        max-width: 652px;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg_main;
}

.price_cards_wrapper {
    display: flex;
}

.price {
    font-family: Inter;
    font-weight: 500;
    font-size: 31px;
    line-height: 31px;
    letter-spacing: -0.34px;
}