@import '../../../constants';

.main_card_article {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

@media screen and (max-width: 1000px) {
    .main_card_article {
        flex-direction: column;

        height: max-content;
        gap: 20px;
    }
}
